<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">

  <targets>
    <target xsi:type="File"
            name="infoFile"
            fileName="logs/info-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|cid=${scopeproperty:item=CorrelationId:whenEmpty=${aspnet-traceidentifier}}|user=${aspnet-user-identity:whenEmpty=anonymous}|ip=${aspnet-request-ip}|route=${aspnet-request-method} ${aspnet-request-url}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="errorFile"
            fileName="logs/error-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|cid=${scopeproperty:item=CorrelationId:whenEmpty=${aspnet-traceidentifier}}|user=${aspnet-user-identity:whenEmpty=anonymous}|ip=${aspnet-request-ip}|route=${aspnet-request-method} ${aspnet-request-url}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="allfile"
            fileName="logs/backend-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|cid=${scopeproperty:item=CorrelationId:whenEmpty=${aspnet-traceidentifier}}|user=${aspnet-user-identity:whenEmpty=anonymous}|ip=${aspnet-request-ip}|route=${aspnet-request-method} ${aspnet-request-url}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${uppercase:${level}}|cid=${scopeproperty:item=CorrelationId:whenEmpty=${aspnet-traceidentifier}}|user=${aspnet-user-identity:whenEmpty=anonymous}|ip=${aspnet-request-ip}|route=${aspnet-request-method} ${aspnet-request-url}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="console,allfile,infoFile" />
    <logger name="*" minlevel="Error" writeTo="console,allfile,errorFile" />
  </rules>
</nlog>
